.wrapper {
    width: auto;
    height: 500px;
    background: aquamarine;
    padding: 50px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    height: 500px;
    /*border: 1px solid black;*/
}
.skills_container {
    height: 412px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}