.skill_wrapper {
  width: 300px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  margin: 20px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid gray;
  filter: grayscale(100%);
  transition: 1s;
  @media screen and (max-width: 500px) {
    margin: 10px;
  }

  &:hover {
    transform: scale(1.01);
    cursor: pointer;
    box-shadow: 25px 25px 7px 0 rgba(0, 0, 0, 0.2);
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 45%, rgba(101, 101, 101, 0.3) 100%);
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    filter: none;
  }

  h1 {
    margin: 0;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    line-height: 1.4;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }

  p {
    text-align: center;
    color: black;
  }
}
