.skills_container {
  margin: 0 auto;
  height: fit-content;
  display: flex;
  justify-content: start;

  align-items: center;
  flex-wrap: wrap;
  transition: 1s;
  @media screen and (max-width: 2000px) {
    justify-content: center;
  }
}


