$TextColor: black;
$BackgroundColor: #fff;
$SmallTextColor: #767676;


/* Light theme */
$Light-text-color: black;
$Light-background-color: white;
$Light-small-text-color: #767676;


/* Dark theme */
$Dark-text-color: white;
$Dark-background-color: #000000;;
$Dark-small-text-color: #767676;
