.header_container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  height: 10vh;
  margin: 0 auto;
  transition: 1s;
  @media screen and (max-width: 550px) {
    height: 50px;
    width: 100%;
  }

  .logo_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 250px;
    @media screen and (max-width: 800px) {
      display: none;
    }

    .letter {
      position: relative;
      display: inline-block;
      margin: -7px;
      width: 70px;
      height: 70px;
      border-radius: 10px;
      background: linear-gradient(180deg, #282828, #202020);
      box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15),
      inset 0 -8px 8px rgba(0, 0, 0, 0.25),
      0 0 0 2px rgba(0, 0, 0, 0.75),
      10px 20px 25px rgba(0, 0, 0, 0.4);
      transform: scale(0.7);
      transition: .5s;

      &:before {
        position: absolute;
        content: '';
        top: 3px;
        left: 4px;
        bottom: 14px;
        right: 12px;
        background: linear-gradient(90deg, #232323, #4a4a4a);
        border-radius: 10px;
        box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.25),
        10px 5px 10px rgba(0, 0, 0, 0.15);
        border-left: 1px solid #0004;
        border-bottom: 1px solid #0004;
        border-top: 1px solid #0009;
        overflow: hidden;
      }

      &:hover {
        transform: scale(0.63);
      }

      i {
        position: absolute;
        top: 4px;
        left: 15px;
        color: white;
        font-style: normal;
        text-transform: uppercase;
      }
    }
  }

  .nav_container {
    display: flex;
    align-items: center;
    width: fit-content;
    @media screen and (max-width: 800px) {
      width: 100%;
    }
    @media screen and (max-width: 550px) {
      height: 50px;
    }

    .nav_bar {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;
      width: 400px;
      @media screen and (max-width: 800px) {
        justify-content: space-between;
        width: 100%;
      }

      .nav_bar_link {
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: 15px;
        color: #767676;

        li {
          padding: 0 5px;
          font-weight: bold;
          align-items: center;
          transition: 0.5s;
          border-radius: 1px;

          &:hover {
            color: black;
            transform: scale(1.01);
            background: rgb(255, 255, 255);
            background: linear-gradient(90deg, rgba(255, 255, 255, 1) 45%, rgba(101, 101, 101, 1) 100%);
            -webkit-box-shadow: 15px 15px 8px 1px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 15px 15px 8px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 10px 10px 5px 1px rgba(0, 0, 0, 0.2);
          }
        }
      }
    }
  }
}

