.footer_container {
    width: 80%;
    margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content: center;
    transition: 1s;
}
.footer_contact_bar {
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.footer_container li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height:  100%;
    width: 30%;
}
.footer_container a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: white;
}
.img {
    transition: 0.5s;
    transform: translateY(19px);
}
.text {
    transition: 0.5s;
    display: block;
    color: white;
}

.footer_contact_bar li:hover img {
    transform: translateY(-15px);
    color: #767676;
}
.footer_contact_bar li:hover .text {
    transform: translateY(-20px);
    color: #767676;
}

@media screen and (max-width: 820px){
    .footer_contact_bar {
        width: 100%;
    }
}
@media screen and (max-width: 500px){
    .footer_container {
        width: 100%;
    }
}
