.wrapper {
    /*border: 1px solid black;*/
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}
.active {
    animation: img_rotate 3s linear infinite;
}


@keyframes img_rotate {
    0% {
        transform: translateX(0px) scale(0);
    }
    25% {
        transform: translateX(75px) scale(1.1);
    }
    50% {
        transform: translateX(0px) scale(1.2)
    }
    75% {
        transform: translateX(-75px) scale(1.1);
    }
    100% {
        transform: translateX(0px) scale(0);
    }
}